__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
.env
.venv/
venv/
*.log
.pytest_cache/
.coverage
htmlcov/
.tox/
.DS_Store
tests/
docs/
helm/
README.md
wymagania.md
openrc.sh
docker-compose.yml
.git/
.gitignore

